/* Reset styles*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  height: 100vh;
  padding: 1rem;
  gap: 1rem;
  background-color: #f0f0f0;
}

hr{
  border: none;
  background-color: #3B82F6;
  height: 2px;
}

button{
  background-color: #3B82F6;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.container{
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 1rem;
}

#documents-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  align-self: flex-start;
  height: auto;
  gap: 1rem;
}

#documents-container section{
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
}

#file-input{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px;
}

#documents-container #documents-section{
  border: none;
  background-color: transparent;
}

#upload-section{
  height: 14rem;
  justify-content: center;
}

#upload-button{
  width: 80px;
  background-color: #16a34a;
}

#documents-list{
  text-align: center;
  color: #999;
  min-height: 2rem;
}

#documents-container #retrieval-method{
  border: none;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee;
}

#chat-container{
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 1rem;
}

#chat-box{
  flex:12;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 4px;
}

#input-area{
  display: flex;
  min-height:2.5rem;
  gap: 1rem;
}

#user-input{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#send-button{
  min-width: 80px;
}



